$light-grey: #f4f4f3;
$gray: #b8b5b3;
$main: #e5e5e5;
$orange: #f37021;
$dark-orange: #EE4915;
$black: #353332;
$light-orange:#FCDBC8;
$dark-gray:#7E7C7A;
$borderAuth: #B4ADA9;
$clearWhite:#FFFFFF; 
$light-middle-grey:#F7F5F4;
$blue: #295A79;