@font-face {
  font-family: 'Rubik400';
  src: url('~/assets/fonts/Rubik/Rubik-Regular.ttf');
}
@font-face {
  font-family: 'Rubik500';
  src: url('~/assets/fonts/Rubik/Rubik-Medium.ttf');
}
@font-face {
  font-family: 'Rubik600';
  src: url('~/assets/fonts/Rubik/Rubik-SemiBold.ttf');
}
@font-face {
  font-family: 'Rubik700';
  src: url('~/assets/fonts/Rubik/Rubik-Bold.ttf');
}
@font-face {
  font-family: 'Rubik800';
  src: url('~/assets/fonts/Rubik/Rubik-ExtraBold.ttf');
}
@font-face {
  font-family: 'Rubik900';
  src: url('~/assets/fonts/Rubik/Rubik-Black.ttf');
}
@font-face {
  font-family: 'Manrope200';
  src: url('~/assets/fonts/Manrope/Manrope-ExtraLight.ttf');
}
@font-face {
  font-family: 'Manrope300';
  src: url('~/assets/fonts/Manrope/Manrope-Light.ttf');
}
@font-face {
  font-family: 'Manrope400';
  src: url('~/assets/fonts/Manrope/Manrope-Regular.ttf');
}
@font-face {
  font-family: 'Manrope500';
  src: url('~/assets/fonts/Manrope/Manrope-Medium.ttf');
}
@font-face {
  font-family: 'Manrope600';
  src: url('~/assets/fonts/Manrope/Manrope-SemiBold.ttf');
}
@font-face {
  font-family: 'Manrope700';
  src: url('~/assets/fonts/Manrope/Manrope-Bold.ttf');
}
@font-face {
  font-family: 'Manrope800';
  src: url('~/assets/fonts/Manrope/Manrope-ExtraBold.ttf');
}
